body{
    background-color: rgb(238, 233, 243);
     overflow-y:scroll; 
     overflow-x: hidden; 
} 
/* .larg{
    display: grid;
    grid-template-columns: repeat(4,1fr);

} 
@media only screen and (max-width:600px){
    body{
        background-color: #1294c8;
    }  
    
} */

#furry{
    position: relative;
    left: 10%;
}
#sharp{
    position: relative;
    top: 40px;
    left: 6%;
    
}
#siz{
    color: red;
}
#ord{
    color: red;
}
#to{
    color: white;
    background-color: red;
}
#simi{
    position: relative;
    bottom: 50px;
    right: 10%;
}
#abt{
    position: relative;
    left: 20%;
    bottom: 40px;

}
#one{
    width: 60%;
    margin-left: 20%;
}
#loging{
    display: flex;
    position: relative;
    left: 70%;
    bottom: 440px;
}
#papa{
    position: relative;
    top: 15px;
    right: 5%;
}
#signup{
    height: 5%;
    margin-top: 15px;
}
.blak{
    font-size: 80%;
    position: relative;
    left: 50%;
    bottom: 350px;
}
#two{
    width: 15%;
    position: relative;
    bottom: 170px;
    right: 43%;
    

}
#three{
    width: 11%;
    position: relative;
    bottom: 170px;
    right: 43%;

}
#four{
    width: 13%;
    position: relative;
    bottom: 150px;
    right: 40%;
}
#remove1{
    width: 55%;
    transform: rotate(-40deg);
}
.larg{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* display: flex; */
    position: relative;
    bottom: 250px;
}
@media only screen and (max-width:600px){
   .larg{
    grid-template-columns: repeat(1,1fr);
   }
    
}
#major{
    /* width: 50%; */
    /* font-size: small; */
}
#mojor1{
    font-size: smaller;
}#remove{
    width: 15%;
    transform: rotate(-40deg);
}
.hhh{
    background-image: url(image/backgrn-removebg-preview.png);
    border: 100%;
    height: 100vh;
    width: 50%;
    background-position: center;
    background-size: cover;
    color: beige;
    
}
footer{

    display: flex;
    background-color: red;
    color: white;
    position: relative;
    bottom: 20px;
    font-size: small;
    height: 280px;
    
}
.sit{
    /* font-size: smaller; */
    position: relative;
    left: 5%;
}

.comp{
    position: relative;
    left: 15%;
}
.cont{
    position: relative;
    left: 25%;
}
.more{
    position: relative;
    left: 35%;
}
.insta{
    position: relative;
    left: 45%;
    top: 20px;
}


.gog2{
    display: flex;
}
#fur{
    position: relative;
    left: 25px;
    bottom: 23px;
}
#fan1{
    position: relative;
    top: 20px;
}
#right{
    position: relative;
    top: 170px;
    right: 0%;
    font-size: small;
}
/* #hrt1{ 
    position: relative;
    bottom: 160px;
    left: 7%;
} */
/* #bg1{
    position: relative;
    left: 55%;
    bottom: 50px;
} */
/* #str1{
    
    position: relative;
    left: 1%;
    color: rgb(236, 174, 19);
    bottom: 7px;
    
}
#rate{
    position: relative;
    left: 45%;
    bottom: 20px;} */



