body{
    background-color: rgb(238, 233, 243);
     overflow-y:scroll; 
     overflow-x: hidden; 
} 

#furry{
    position: relative;
    left: 10%;
}
#sharp{
    position: relative;
    top: 40px;
    left: 6%;
    
}
#siz{
    color: red;
    /* height: 20%; */
}
#ord{
    /* color:white; */
    border-radius: 5px;
    border-color: red;


}
#to{
    color: white;
    background-color: red;
}
#simi{
    position: relative;
    bottom: 50px;
    right: 10%;
}
#abt{
    position: relative;
    left: 20%;
    bottom: 40px;

}
#one{
    width: 60%;
    margin-left: 20%;
}
#loging{
    display: flex;
    position: relative;
    left: 70%;
    bottom: 600px;
}
#lec{
    color: red;
}
#papa{
    position: relative;
    top: 15px;
    right: 5%;
}
#signup{
    height: 5%;
    margin-top: 15px;
}
.blak{
    /* font-size: 8; */
    position: relative;
    left: 50%;
    bottom: 550px;
}
#two{
    width: 15%;
    position: relative;
    bottom: 170px;
    right: 43%;
    

}
#three{
    width: 11%;
    position: relative;
    bottom: 170px;
    right: 43%;

}
#four{
    width: 13%;
    position: relative;
    bottom: 150px;
    right: 40%;
}
#remove1{
    width: 55%;
    transform: rotate(-40deg);
}
.larg{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* display: flex; */
    position: relative;
    bottom: 350px;
}
@media only screen and (max-width:600px){
   .larg{
    grid-template-columns: repeat(1,1fr);
   }
   /* .larg h{
    color: brown;
   }
     */
}
#major2{
    background-color: white;
    position: relative;
    top: 10%;
    width: 80%;
    /* width: 50%; */
    /* font-size: small; */
}
#major1{
    /* font-size: small; */
    position: relative;
    top: 25px;
    background-color: white;
    width: 80%;
    
}
#major4{
    background-color: white;
    width: 80%;
    position: relative;
    top: 10%;
}
#major3{
    background-color: white;
    width: 80%;
    position: relative;
    top: 10%;

}
#remove{
    width: 15%;
    transform: rotate(-40deg);
}
.hhh{
    background-image: url(image/backgrn-removebg-preview.png);
    border: 100%;
    height: 100vh;
    width: 50%;
    background-position: center;
    background-size: cover;
    color: beige;
    
}
footer{

    display: flex;
    background-color: red;
    color: white;
    position: relative;
    bottom: 20px;
    /* font-size: small; */
    height: 280px;
    
}
.sit{
    /* font-size: smaller; */
    position: relative;
    left: 5%;
}

.comp{
    position: relative;
    left: 15%;
}
.cont{
    position: relative;
    left: 25%;
}
.more{
    position: relative;
    left: 35%;
}
.insta{
    position: relative;
    left: 45%;
    top: 20px;
}


.gog2{
    display: flex;
}
#gog{
    width: 10%;
    border-radius: 5px;
}
#app{
    width: 10%;
    height: 10%;
    position: relative;
    top: 28px;
    left: 4%;
    border-radius: 5px;

}
#fur{
    position: relative;
    left: 25px;
    bottom: 23px;
}
#fan1{
    position: relative;
    top: 20px;
}
#right{
    position: relative;
    top: 180px;
    right: 50%;
    font-size: x-small;
}
#hrt1{ 
    position: relative;
    bottom: 230px;
    left: 7%;
} 
#bg1{
    position: relative;
    left: 50%;
    bottom: 40px;
}
 #str1{
    
    position: relative;
    left: 20%;
    color: rgb(236, 174, 19);
    bottom: 17px;
    
}
#rate{
    position: relative;
    left: 25%;
    bottom: 20px;}



.second{
    /* border: solid; */
    background-color: white;
    width: 100%;
    height: 120px;
}
header{
    display: ;
}
#in{
    display: flex;
    position: relative;
    left: 70%;
    bottom: 450px;
    /* <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M296.56,3.10 C304.06,90.09 467.18,188.09 581.56,115.08 L503.44,151.09 L500.00,0.00 Z" style="stroke: none; fill: rgb(227, 77, 74);"></path></svg></div> */
}
#air1{
    width: 60%;
    height: 60%;
    border-radius: 25px;
    /* height: 100px; */
}
#hei{
    position: relative;
    bottom: 120px;
}
.kaka{
    display: flex;
}
.story{
    font-size: x-large;
    position: relative;
    bottom: 60px;
    right: 15%;
}
#see2{
    position: relative;
    top: 30px;
    height: 40px;
    width: 20%;
    background-color: rgb(245, 14, 10);
    border-color: red;
    border-radius: 5px;

}
.sed{
    display: flex;
}
#air2{
    width: 160%;
    position: relative;
    left: 40%;
    border-radius: 25px;
}
.visi{
    font-size: x-large;
    position: relative;
    bottom: 30px;

}
#air3{
    width: 70%;
    border-radius: 15px;
}
/* .third{ */
    /* width: 100px; */
    /* background-color: rgb(243, 7, 7); */
    /* width: 100%; */
    /* height: 120px; */

.next{
    margin: 0;
    padding: 5%;
    background-color: white;
}
.place{
    text-align: center;
}

